rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Documento principal do sistema (leitura pública, escrita autenticada)
    match /sistemas/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Coleção de aliases de login (leitura pública, escrita autenticada)
    match /loginAliases/{aliasId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Coleção de usuário  de login (leitura pública, escrita autenticada)
    match /users/{userId} {
    allow read: if true;
      allow write: if request.auth != null;
      // allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}